*{
    margin:0;
	padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/homepage.png.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 0%;
    justify-content: center;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f588da;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
     margin: 10px 0 40px;
     font-size: 14px;
     color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f588da;
    background: #f588da;
    transition: 1s;
}

/*--------ALTERNATIVES page-------*/

.sub-header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/alt.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1{
    margin-top: 100px;
}
.Pottery{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.Pottery-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.Pottery-col img{
    width: 40%;
    height:40%;
}
.Pottery-col h1{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #f588da;
    background: transparent;
    color: #f588da;
}

.red-btn:hover{
    color: white;
}

