.navbar {
  display: flex;
  background-color: rgb(188, 184, 138);
  margin-bottom: 25px;
  align-items: center;
  justify-content: flex-end;
  height: 35px;
}

.navbar button {
  margin-right: 10px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.navbar button:focus,
.navbar button:hover {
  color: #fff;
}

.navbar button:focus:after,
.navbar button:hover:after {
  width: 100%;
  left: 0%;
}

.navbar button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

img {
  max-width: 100%;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  top: 30%;
  display: flex;
  align-items: left;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  font-weight: bold;
}

.therapist-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: 20px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  max-width: 90%;
}

.dropdown {
  width: 30%;
  margin-right: auto;
}
.options {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.summary {
  width: 40%;
  font-size: 20px;
  padding: 20px;
}

.facts {
  width: 30%;

  border: 15px solid rgb(80, 80, 80);
  margin-left: auto;
}

.button {
  text-align: left;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  display: flex;
  color: rgb(0, 0, 0);
  background-color: rgb(188, 184, 138);
  justify-content: space-around;
  font-size: 30px;
  cursor: pointer;
}

.dropdown-content {
  background-color: rgb(80, 80, 80);
  display: none;
  position: relative;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  padding: 10px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
